In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

In [32]:
df=pd.read_csv("C:\\Users\\vedan\\OneDrive\\Desktop\\Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [33]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [34]:
df.duplicated().sum()

0

In [25]:
df["Tenure"].value_counts()

Tenure
2     1048
1     1035
7     1028
8     1025
5     1012
3     1009
4      989
9      984
6      967
10     490
0      413
Name: count, dtype: int64

In [26]:
df["Geography"].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [35]:
from sklearn import preprocessing
my_label=preprocessing.LabelEncoder()
df['Gender']=my_label.fit_transform(df['Gender'])

my_label=preprocessing.LabelEncoder()
df['Geography']=my_label.fit_transform(df['Geography'])

In [37]:
column = 'CreditScore'
df[column] = (df[column] - df[column].min()) / (df[column].max() - df[column].min()) 
column = 'Age'
df[column] = (df[column] - df[column].min()) / (df[column].max() - df[column].min()) 
column = 'Balance'
df[column] = (df[column] - df[column].min()) / (df[column].max() - df[column].min()) 
column = 'EstimatedSalary'
df[column] = (df[column] - df[column].min()) / (df[column].max() - df[column].min()) 
column = 'Tenure'
df[column] = (df[column] - df[column].min()) / (df[column].max() - df[column].min())

In [51]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,0.538,0,0,0.324324,0.2,0.000000,1,1,1,0.506735,1
1,2,15647311,Hill,0.516,2,0,0.310811,0.1,0.334031,1,0,1,0.562709,0
2,3,15619304,Onio,0.304,0,0,0.324324,0.8,0.636357,3,1,0,0.569654,1
3,4,15701354,Boni,0.698,0,0,0.283784,0.1,0.000000,2,0,0,0.469120,0
4,5,15737888,Mitchell,1.000,2,0,0.337838,0.2,0.500246,1,1,1,0.395400,0

In [38]:
from sklearn.decomposition import PCA

In [39]:
x=df[['CreditScore','Gender','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary','Geography']]
y=df['Exited']

In [40]:
pca = PCA(n_components=10)

X_pca = pca.fit_transform(x)


print("Original data shape:", x.shape)


print("Transformed data shape:", X_pca.shape)

print("Principal components (eigenvectors):")
print(pca.components_)

print("Explained variance ratio:")
print(pca.explained_variance_ratio_)

Original data shape: (10000, 10)
Transformed data shape: (10000, 10)
Principal components (eigenvectors):
[[ 1.99063698e-03  4.53737289e-03  4.09823702e-03  1.39809144e-03
   2.27484276e-02  2.56094209e-03 -6.83048349e-03  6.49434446e-03
  -5.08165169e-04  9.99671726e-01]
 [ 4.51007167e-03 -6.43426661e-02 -7.28415205e-03  8.20906595e-03
  -1.53230551e-01  9.85619420e-01  6.87767943e-03  2.59498637e-02
   8.48404529e-03  1.14612181e-03]
 [-8.25822652e-03 -6.21907520e-01 -1.48236666e-02  1.13412327e-02
   5.02325342e-03 -1.96941408e-02  2.73955379e-02 -7.81957997e-01
   1.12719861e-02  8.09313886e-03]
 [-8.20763725e-03  7.78870244e-01 -2.46111612e-02  2.87475601e-02
  -6.07049937e-03  6.51977447e-02  8.06138232e-02 -6.17311155e-01
   1.11578469e-03  1.07469349e-03]
 [ 1.75306484e-03  4.58628359e-02  1.02116703e-03 -2.05704554e-02
   8.16246776e-03  1.31884630e-02 -9.95937275e-01 -7.18932585e-02
   1.11207029e-02 -6.73886488e-03]
 [-1.38032339e-03  9.09919614e-03  4.34705496e-03 -8.69671517e-01
  -6.91077525e-03  1.16402573e-02  1.49100457e-02 -2.68173583e-02
  -4.92383383e-01  1.31314854e-03]
 [ 1.99503692e-03 -1.20691059e-02  1.21745262e-03  4.91746116e-01
  -4.87149957e-02 -4.91452567e-03 -2.11077978e-02  3.22990598e-03
  -8.69011704e-01 -1.27725434e-04]
 [ 2.82596027e-02 -2.84403951e-03  1.61895489e-02  1.97308164e-02
   9.86113233e-01  1.53197981e-01  9.01297089e-03  3.84778032e-03
  -4.50549915e-02 -2.29559980e-02]
 [-9.99462906e-01 -1.47778438e-03  1.10730859e-02  2.45360987e-03
   2.69905213e-02  8.46933920e-03 -2.39133314e-03  1.14116082e-02
  -2.33067447e-03  1.22055260e-03]
 [ 1.03184036e-02  9.45954454e-03  9.99349067e-01  3.78839796e-03
  -1.74782815e-02  5.85329612e-03  3.32882473e-03 -2.66417598e-02
   4.20344059e-03 -3.58499665e-03]]
Explained variance ratio:
[0.34016652 0.17163342 0.12640974 0.12074999 0.10305978 0.04159111
 0.04088734 0.02711728 0.01852609 0.00985873]

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)


clf = SVC(kernel='linear')

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8053333333333333

In [57]:
model=Sequential([
    tf.keras.Input(shape=(10,)),
    Dense(512,activation='relu'),
    Dense(256,activation='relu'),
    Dense(128,activation='relu'),
    Dense(64,activation='relu'),
    Dense(1,activation='sigmoid'),
])

In [58]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 512)               5632

 dense_6 (Dense)             (None, 256)               131328

 dense_7 (Dense)             (None, 128)               32896

 dense_8 (Dense)             (None, 64)                8256

 dense_9 (Dense)             (None, 1)                 65

=================================================================
Total params: 178,177
Trainable params: 178,177
Non-trainable params: 0
_________________________________________________________________

In [54]:
[layer1, layer2, layer3,layer4,layer5] = model.layers

In [55]:
W1,b1 = layer1.get_weights()
W2,b2 = layer2.get_weights()
W3,b3 = layer3.get_weights()
W4,b4 = layer4.get_weights()
W5,b5 = layer5.get_weights()

In [62]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [64]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train_scaled, y_train, epochs=20, batch_size=32)

Epoch 1/20
219/219 [==============================] - 1s 3ms/step - loss: 0.2763 - accuracy: 0.8823
Epoch 2/20
219/219 [==============================] - 1s 3ms/step - loss: 0.2722 - accuracy: 0.8834
Epoch 3/20
219/219 [==============================] - 1s 2ms/step - loss: 0.2606 - accuracy: 0.8886
Epoch 4/20
219/219 [==============================] - 1s 2ms/step - loss: 0.2535 - accuracy: 0.8913
Epoch 5/20
219/219 [==============================] - 1s 2ms/step - loss: 0.2462 - accuracy: 0.8921
Epoch 6/20
219/219 [==============================] - 1s 2ms/step - loss: 0.2393 - accuracy: 0.8959
Epoch 7/20
219/219 [==============================] - 1s 3ms/step - loss: 0.2326 - accuracy: 0.8984
Epoch 8/20
219/219 [==============================] - 1s 2ms/step - loss: 0.2306 - accuracy: 0.8989
Epoch 9/20
219/219 [==============================] - 1s 2ms/step - loss: 0.2146 - accuracy: 0.9037
Epoch 10/20
219/219 [==============================] - 1s 2ms/step - loss: 0.2120 - accuracy: 0.9079
Epoch 11/20
219/219 [==============================] - 1s 3ms/step - loss: 0.1957 - accuracy: 0.9110
Epoch 12/20
219/219 [==============================] - 1s 2ms/step - loss: 0.1909 - accuracy: 0.9180
Epoch 13/20
219/219 [==============================] - 1s 3ms/step - loss: 0.1862 - accuracy: 0.9173
Epoch 14/20
219/219 [==============================] - 1s 2ms/step - loss: 0.1843 - accuracy: 0.9200
Epoch 15/20
219/219 [==============================] - 1s 3ms/step - loss: 0.1737 - accuracy: 0.9227
Epoch 16/20
219/219 [==============================] - 1s 2ms/step - loss: 0.1596 - accuracy: 0.9277
Epoch 17/20
219/219 [==============================] - 1s 3ms/step - loss: 0.1499 - accuracy: 0.9346
Epoch 18/20
219/219 [==============================] - 1s 2ms/step - loss: 0.1614 - accuracy: 0.9297
Epoch 19/20
219/219 [==============================] - 1s 2ms/step - loss: 0.1529 - accuracy: 0.9329
Epoch 20/20
219/219 [==============================] - 1s 2ms/step - loss: 0.1323 - accuracy: 0.9411

In [68]:
y_pred = model.predict(X_test_scaled)
y_pred = (y_pred > 0.5).astype(int)

94/94 [==============================] - 0s 1ms/step

In [69]:
accuracy = accuracy_score(y_test, y_pred)
print("Test Accuracy:", accuracy)

Test Accuracy: 0.8203333333333334